<app-quote-viewer
  [quote]='quoteViewerService.quote$ | async'
  [slideshowProgress]='quoteViewerService.slideshowProgress$ | async'
  [filter]='quoteViewerService.filter$ | async'
  [canShowNext]='quoteViewerService.canShowNext$ | async'
  [canShowPrevious]='quoteViewerService.canShowPrevious$ | async'
  [canPlaySlideshow]='quoteViewerService.canPlaySlideshow$ | async'
  [canPauseSlideshow]='quoteViewerService.canPauseSlideshow$ | async'
  [canStopSlideshow]='quoteViewerService.canStopSlideshow$ | async'
  [canFilter]='quoteViewerService.canFilter$ | async'
  (showNext)='quoteViewerService.showNext()'
  (showPrevious)='quoteViewerService.showPrevious()'
  (toggleSlideshowPlayback)='quoteViewerService.toggleSlideshowPlayback()'
  (toggleBookmark)='quoteViewerService.toggleBookmark()'
  (toggleFilter)='quoteViewerService.toggleFilter()'
  (stopSlideshow)='quoteViewerService.stopSlideshow()'
/>
