<p>{{ quote()?.text }}</p>
<p>{{ quote()?.author }}</p>
<button
  [disabled]='!canShowPrevious()'
  (click)='showPrevious.emit()'
>Previous quote
</button>
<button
  [disabled]='!canShowNext()'
  (click)='showNext.emit()'
>Next quote
</button>
<button
  [disabled]='!canPlaySlideshow()'
  (click)='toggleSlideshowPlayback.emit()'
>Play
</button>
<button
  [disabled]='!canPauseSlideshow()'
  (click)='toggleSlideshowPlayback.emit()'
>Pause
</button>
<button
  [disabled]='!canStopSlideshow()'
  (click)='stopSlideshow.emit()'
>Stop
</button>
<p>{{ slideshowProgress() }}</p>
<button
  [class.is-bookmarked]='quote()?.isBookmarked'
  (click)='toggleBookmark.emit()'
>Toggle bookmark
</button>
<input
  type='checkbox'
  [value]='filter() === Filter.BOOKMARKED'
  [disabled]='canFilter()'
  (click)='toggleFilter.emit()'
>
