<mat-card appearance='outlined'>
  <mat-card-content>
    <div class='bookmark-box'>
      <button
        matIconButton
        [disabled]='!canToggleBookmark()'
        [matTooltip]='quote()?.isBookmarked ? "Remove bookmark" : "Bookmark"'
        (click)='toggleBookmark.emit()'
      >
        <mat-icon>
          {{
            quote()?.isBookmarked
              ? Icon.BOOKMARK
              : Icon.BOOKMARK_BORDER
          }}
        </mat-icon>
      </button>
    </div>
    <div class='quote__box'>
      <div class='quote__text'>&#8220;{{ quote()?.text }}&#8221;</div>
      <div class='quote__author'>{{ quote()?.author }}</div>
    </div>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <button
      matIconButton
      [disabled]='!canShowPrevious()'
      matTooltip='Previous quote'
      (click)='showPrevious.emit()'
    >
      <mat-icon>{{ Icon.NAVIGATE_BEFORE }}</mat-icon>
    </button>
    <button
      matIconButton
      [disabled]='!canShowNext()'
      matTooltip='Next quote'
      (click)='showNext.emit()'
    >
      <mat-icon>{{ Icon.NAVIGATE_NEXT }}</mat-icon>
    </button>
    <mat-button-toggle-group
      [value]='filter()'
      (change)='toggleFilter.emit()'
    >
      <mat-button-toggle [value]='Filter.ALL'>All</mat-button-toggle>
      <mat-button-toggle [value]='Filter.BOOKMARKED'>Bookmarked</mat-button-toggle>
    </mat-button-toggle-group>
    <div class='slideshow-box'>
      <button
        matIconButton
        matTooltip='Start slideshow'
        [disabled]='!canPlaySlideshow()'
        (click)='toggleSlideshowPlayback.emit()'
      >
        <mat-icon>
          {{ Icon.SLIDESHOW }}
        </mat-icon>
      </button>
      <button
        matIconButton
        matTooltip='Pause slideshow'
        [disabled]='!canPauseSlideshow()'
        (click)='toggleSlideshowPlayback.emit()'
      >
        <mat-icon>
          {{ Icon.PAUSE_PRESENTATION }}
        </mat-icon>
      </button>
      <button
        matIconButton
        matTooltip='Stop slideshow'
        [disabled]='!canStopSlideshow()'
        (click)='stopSlideshow.emit()'
      >
        <mat-icon>
          {{ Icon.CANCEL_PRESENTATION }}
        </mat-icon>
      </button>
    </div>
  </mat-card-actions>
  <mat-card-footer>
    @if (isLoading()) {
      <mat-progress-bar mode='indeterminate'></mat-progress-bar>
    } @else {
      <mat-progress-bar
        mode='determinate'
        [value]='slideshowProgress()'
      >
      </mat-progress-bar>
    }
  </mat-card-footer>
</mat-card>

